  <%= stylesheet_link_tag "application" %>

  <div class="container">
    <h3 class="m-3">記事一覧</h3>
    <div class="row shadow-lg my-3 p-3 rounded justify-content-center" style="background-color:white">
      <div class="col mx-auto text-center">
        <table class="table  table-sm text-center table-hover">
          <tr>
            <th class="col-3">投稿者</th>
            <th class="col-3">タイトル</th>
            <th class="col-2">カテゴリー</th>
            <th class="col-2">投稿日</th>
            <th class="col-2">コメント/お気に入り登録数</th>
          </tr>
          <% @posts.each do |post| %>
            <tr>
              <td><%= image_tag post.user.get_profile_image(30,30) %><%= link_to post.user.name, user_path(post.user_id) %></td>
              <td><%= link_to post.title, post_path(post.id) %></td>
              <td><%= link_to post.genre.name,genre_search_path(genre_id: post.genre_id), method: :get %></td>
              <td><%= l post.created_at, format: :short %></td>
              <td>
                <i class="fa-solid fa-comment"></i><%= post.post_comments.count %>/
                <i class="fa-solid fa-bookmark"></i>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <%= paginate @posts %>
</div>