<%= stylesheet_link_tag "application" %>

<div class="container">
  <div class="swiper justify-content-center m-2">
    <div class="swiper-wrapper ">
      <div class="swiper-slide">
        <%= image_tag asset_path('top_1.png'), alt: '' %>
      </div>
      <div class="swiper-slide">
        <%= image_tag asset_path('top_2.png'), alt: '' %>
      </div>
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
    <!-- 前後の矢印 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <script>
    const swiper = new Swiper(".swiper", {
    loop: true, // ループ
    speed: 3000, // ゆっくり
    autoplay: { // 自動再生
      delay: 3000, // 3秒後に次のスライド
      disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
    },

    // ページネーション
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    // 前後の矢印
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  </script>
</div>

<div class="container">
  <!--最新記事-->
  <div class="row shadow-lg my-3 p-3 rounded" style="background-color:white">
    <div class="balloon d-flex align-items-end justify-content-center m-2">
      <h4 class="mr-4 mb-0">最新の投稿</h4>
      <p class="align-self-end mb-0">新着情報をお届け</p>
    </div>
    <div class="row col-12 justify-content-center mx-3 my-1">
      <div class="col-5 text-center">
        <p class="mb-0">投稿者</p>
      </div>
      <div class="col-7 text-center">
        <p class="mb-0">タイトル</p>
      </div>
    </div>
    <div class="row col-12 justify-content-center mx-3">
    <% @posts.order(created_at: :desc).limit(5).each do |post| %>
      <div class="col-5 text-center mr-0 border-bottom mt-2">
        <%= image_tag post.user.get_profile_image(30,30), class:"rounded-circle" %>
        <%= link_to post.user.name, user_path(post.user_id) %>
      </div>
      <div class="col-7 text-center border-bottom mt-2">
        <%= link_to post.title, post_path(post.id) %>
      </div>

    <% end %>
  </div>
      <div class="row col-12 justifycontent-end mx-3">
        <div class="col-12 text-right">
          <%= link_to "すべての投稿を見る>", posts_path %>
        </div>
      </div>
  </div>
  <!--ここまで　最新記事-->


  <div class="row justify-content-between">
    <!--左のBOX-->
    <div class="col-lg col-md-12 shadow-lg my-3 p-3 mr-1 rounded" style="background-color:white">
      <div class="balloon d-flex align-items-end justify-content-center m-2">
        <h4 class="mr-4 mb-0">
          <i class="fa-solid fa-magnifying-glass-plus"></i>
          &nbsp;見つける</h4>
      </div>
      <!--カテゴリー-->
      <div class="text-center mt-5 mb-2">
        <h5>
          <i class="fa-solid fa-layer-group"></i>
          カテゴリーから投稿を探す
        </h5>
      </div>
      <div class="list-group my-4">
      <% @genres.each do |genre| %>
      <%= link_to genre.name, genre_search_path(genre_id: genre.id), method: :get, class:" btn btn-outline-dark btn-sm my-1" %>
      <% end %>
      </div>

      <!--タグー-->
      <div class="text-center mt-5 mb-2">
        <h5>
          <i class="fa-sharp fa-solid fa-tag"></i>
          タグから投稿を探す
        </h5>
      </div>
        <div id="tag_list">
          <%= render "tag_list", tags: @tags %>
        </div>
      <!--検索窓ー-->
      <div class="text-center mt-5 mb-2">
        <h5>
          <i class="fa-solid fa-magnifying-glass"></i>
          フリーワードで検索する
        </h5>
      </div>
      <div class="row justify-content-center my-4">
        <div class="col-10 text-center">
          <form action="<%= search_path %>" method="get" class="form-inline">
            <div class="col-12 mb-2">
              <%= text_field_tag :content, nil, class: 'form-control w-100', placeholder: '検索' %>
            </div>
            <div class="col-12 mb-2">
              <%= select_tag :model, options_for_select({"ユーザー"=>"User","記事"=>"Post","カテゴリー"=>"Genre","タグ"=>"Tag"}), class: 'form-control' %>
              <%= select_tag :method, options_for_select({"完全一致"=>"perfect","前方一致"=>"forward","後方一致"=>"backward","部分一致"=>"paratial"}), class: 'form-control' %>
            </div>
            <div class="col-12">
            <button type="submit" class="btn btn-outline-light btn btn-secondary w-50">検索</button>
            </div>
          </form>
       </div>
     </div>
     <!--ここまで検索窓ー-->

    </div>
    <!--ここまで左のBOX-->

    <!--右のBOX-->
    <div class="col-lg col-md-12 shadow-lg my-3 p-3 rounded" style="background-color:white">
      <div class="balloon d-flex align-items-end justify-content-center m-2">
        <h4 class="mr-4 mb-0">ランキング</h4>
      </div>
      <!--いいねランキング-->
      <div class="text-center mt-3">
        <h5>いいね数 TOP３<i class="fa-solid fa-ranking-star"></i></h5>
      </div>
      <div class="row justify-content-center">
        <!--同率順位表示-->
        <% last_favorite = 0 %>
        <% j = 1 %>
        <% count = 0 %>
        <% @post_favorite_ranks.each.with_index(1) do |post, i| %>
          <!-- 最初の値をlast_favoriteに保存 -->
          <% if i == 1 %>
            <% last_favorite = post.favorites.count %>
          <% end %>
          <!-- last_favoriteといいね数比べて同じなら同じ順位、違うなら次の順位表示 -->
          <% if post.favorites.count != last_favorite %>
            <% j = i %>
          <% end %>
          <!-- 同率でも、3つまでしか表示しない -->
          <% if count < 3 %>
            <div class="card my-1 col-10">
              <div class="card-body text-center p-2">
                <% if post.favorites.count != last_favorite %>
                  <% j = i %>
                <% end %>
                <h6 class="mb-1"><b>第<%= j %>位</b></h6>
                <p class="mb-0"><%= link_to post.title,post_path(post.id) %></p>
                <p><i class="fa-solid fa-thumbs-up"></i><%= post.favorites.count %></p>
                <% count += 1 %>
              </div>
            </div>
          <% end %>
          <!-- 3つ以上の場合はループを中断 -->
          <% break if count >= 3 %>
          <% last_favorite = post.favorites.count %>
        <% end %>
      </div>
      <!--ここまでいいねランキング-->
      <!--フォロワーランキング-->
       <div class="text-center mt-3">
        <h5>フォロワー数 TOP３<i class="fa-solid fa-ranking-star"></i></h5>
      </div>
      <div class="row justify-content-center ">

        <% @followe_ranks.each_with_index do |user, i| %>
        <div class="card my-1 col-10">
          <div class="card-body text-center p-2">

            <h6 class="mb-1"><b>第<%= i+1 %>位</b></h6>
            <span><%= image_tag user.get_profile_image(30,30) %></span>
            <p class="mb-0"><%= link_to user.name,user_path(user.id) %></p>
            <p><i class="fa-solid fa-users"></i><%= user.followers.count %></p>

        </div>
      </div>
        <% end %>


      </div>

      <!--ここまでフォロワーランキング-->
    </div>
    <!--ここまで右のBOX-->

  </div>

</div>


