<%= stylesheet_link_tag "application" %>

<div class="container">
  <div class="row shadow-lg my-3 p-3 rounded">
    <div class="balloon d-flex align-items-end justify-content-center m-2">
      <h3 class="mr-4 mb-0">最新の記事</h3>
      <p class="align-self-end mb-0">新着記事をお届け</p>
    </div>
    
    <div class="col my-2 mx-5">
      <table class="table table-sm">
        <tr>
          <th>投稿者</th>
          <th>タイトル</th>
        </tr>
        <% @posts.order(created_at: :desc). limit(5).each do |post| %>
       <tr>
          <td>
            <%= image_tag post.user.get_profile_image(30,30),class:"rounded-circle" %>
            <%= link_to post.user.name, user_path(post.user_id) %>
          </td>
          <td><%= link_to post.title, post_path(post.id) %></td>
        <% end %>
        </tr>
      </table>
      <div class="row mx-aout justify-content-end">
        <%= link_to "すべての記事を見る>", posts_path %>
      </div>
    </div>
  </div>
</div>
<!--お気に入り機能を追加した時に、人気記事表示を追加する-->