<%= stylesheet_link_tag "admin_application" %>  
  <div class="container">
    <h3 class="mt-3"><%= @model_name %>&nbsp;>>&nbsp;"<b><%= @content %></b>"の検索結果</h3>
    <p class="ml-2"><i class="fa-solid fa-lightbulb"></i></i>&nbsp;<%= @records.count%>件ヒット</p>
    
    <div class="row shadow-lg my-3 p-3 rounded justify-content-center" style="background-color:white">
      <div class="col mx-auto text-center">
        <!--検索結果が存在するか？-->
        <% if @records.present? %>
          <!--Userの検索結果-->
          <% if @model == "User" %>
              <table class="table  table text-center table-hover table-borderless mb-0">
                <tbody>
                  <% @records.each do |user| %>
                    <tr>
                      <td>
                        <%= image_tag user.get_profile_image(40,40) %>
                        <%= link_to user.name, admin_user_path(user) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="row col-12 justify-content-center">
                <%= paginate @records %>
              </div>
              
          <!--Postの検索結果-->
          <% elsif @model == "Post" %>
            <%= render 'admin/posts/index', posts: @records %>
          <!--Genreの検索結果-->
          <% elsif @model == "Genre" %>
            <%= render 'admin/posts/index', posts: @records %>
          <!--Tagの検索結果-->
          <% else @model == "Tag" %>
            <%= render 'admin/posts/index', posts: @records %>
          <% end %>
        <% else %>
          <p class="mb-0">検索条件に一致する結果が見つかりません。</p>
        <% end %>  
      </div>
    </div>
  </div>