<%= stylesheet_link_tag "admin_application" %>

<div class="container">
  <h3 class="m-3">投稿一覧&nbsp;(全<%= @posts.total_count%>件)</h3>
  <div class="row shadow-lg my-3 p-3 rounded justify-content-center" style="background-color:white">
    <!--ソートのリンク-->
      <div class="col-12 text-right">
        <%= link_to '新しい順', admin_posts_path(latest: "true") %>
        |<%= link_to '古い順', admin_posts_path(old: "true") %>
      </div>
      <!--ここまでソートのリンク-->
    <div class="col mx-auto text-center">
      <%= render 'admin/posts/index', posts: @posts %>
    </div>
  </div>
</div>