<%= stylesheet_link_tag "application" %>

<div class="container">
  <div class="row shadow-lg my-3 p-3 rounded" style="background-color:white">
    <h3><%= @user.name%>さんのページ</h3>
    <%= image_tag @user.get_profile_image(100,100) %>
    <% if @user == current_user && !@user.guest_user? %>
      <a class="nav-link active"  href="<%= edit_user_path(@user.id) %>" aria-selected="true">登録情報の編集はこちら</a>
    <% end %>


<h3>投稿一覧</h3>
  <table>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post.id) %></td>
      <td><%= l post.created_at, format: :time %></td>
    <% end %>
    </tr>
  </table>


