<%= stylesheet_link_tag "application" %>

<div class="container">
  <h3 class="m-3"><%= @user.name%>さんのページ</h3>
  <div class="row shadow-lg my-3 p-3 rounded justify-content-center" style="background-color:white">
    <div class="col-10 text-center">
      <%= image_tag @user.get_profile_image(100,100) %><br>
      <h5><%= @user.name %></h5><br>
      <!--フォローフォロワー数カウント,非同期通信-->
      <div id= "follow_count_<%= @user.id %>">
        <%= render "public/relationships/follow_count", user: @user,link_flg: false %>
      </div>
      <div class="my-1">
        <!--フォローボタン,非同期通信-->
        <div id= "follow_btn_<%= @user.id %>">
          <%= render "public/relationships/btn", user: @user, options: { class: ""} %>
        </div>
        <% if @user == current_user && !@user.guest_user? %>
          <%= link_to "登録情報の編集はこちら", edit_user_path(@user.id), class:"btn btn-outline-info" %>
        <% end %>
      </div>
    </div>
  </div>

  <!--ログイン中のマイページの時は、ナビバーを表示する-->
  <% if @user == current_user %>
    <div class="row shadow-lg my-3 p-3 rounded justify-content-center" style="background-color:white">
      <div class="col-12">
        <ul class="nav nav-tabs" role="posts">
          <li class="nav-item">
            <a class="nav-link active" id="MyPost-tab" data-toggle="tab" href="#MyPost" role="tab" aria-controls="MyPost" aria-selected="true">自分の投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="FollowingsPost-tab" data-toggle="tab" href="#FollowingsPost" role="tab" aria-controls="FollowingsPost" aria-selected="false">フォロー中ユーザーの投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="FavoritesPost-tab" data-toggle="tab" href="#FavoritesPost" role="tab" aria-controls="FavoritesPost" aria-selected="false">いいねした投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="DraftPost-tab" data-toggle="tab" href="#DraftPost" role="tab" aria-controls="DraftPost" aria-selected="false">下書き</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="UnpublishedPost-tab" data-toggle="tab" href="#UnpublishedPost" role="tab" aria-controls="UnpublishedPost" aria-selected="false">非公開の投稿</a>
          </li>
        </ul>
      </div>
      <div class="tab-content col-12">
        <!-- "自分の投稿"のコンテンツ -->
        <div class="tab-pane fade show active" id="MyPost" role="tabpanel" aria-labelledby="MyPost-tab">
          <div class="col-12 text-center">
            <h3 class="m-3">投稿一覧&nbsp;（全<%= @posts.total_count %>件）</h3>
          </div>
          <div id="mypost">
            <%= render 'mypost', posts: @posts, paginate_name: 'mypost' %>
          </div>
        </div>
        <!-- "フォロー中ユーザーの投稿"のコンテンツ -->
        <div class="tab-pane fade" id="FollowingsPost" role="tabpanel" aria-labelledby="FollowingsPost-tab">
          <div class="col-12 text-center">
            <h3 class="m-3">投稿一覧&nbsp;（全<%= @following_posts.total_count %>件）</h3>
          </div>
          <!--フォロー中ソートのリンク-->
          <div class="col-12 text-right">
            <%= link_to '新しい順', user_path(latest_following: "true"),remote: true %>
            |<%= link_to '古い順', user_path(old_following: "true") ,remote: true %>
          </div>
          <!--ここまでフォロー中ソートのリンク-->
          <div id="following_post_index">
            <%= render 'post_index', post_index: @following_posts, paginate_name: 'following_posts' %>
          </div>
        </div>
        <!-- "いいねした投稿"のコンテンツ -->
        <div class="tab-pane fade" id="FavoritesPost" role="tabpanel" aria-labelledby="FavoritesPost-tab">
          <div class="col-12 text-center">
            <h3 class="m-3">投稿一覧&nbsp;（全<%= @favorite_posts.total_count %>件）</h3>
          </div>
          <!--いいねソートのリンク-->
          <div class="col-12 text-right">
            <%= link_to '新しい順', user_path(latest_favorites: "true"),remote: true %>
            |<%= link_to '古い順', user_path(old_favorites: "true") ,remote: true %>

          </div>
          <!--ここまでいいねソートのリンク-->
          <div id="favorite_post_index">
            <%= render 'post_index', post_index: @favorite_posts, paginate_name: 'favorite_posts' %>
          </div>
        </div>
        <!-- "下書き一覧"のコンテンツ -->
        <div class="tab-pane fade" id="DraftPost" role="tabpanel" aria-labelledby="DraftPost-tab">
          <div class="col-12 text-center">
            <h3 class="m-3">下書き一覧&nbsp;（<%= @draft_posts.count %>件）</h3>
          </div>
            <%= render 'post_index', post_index: @draft_posts, paginate_name: 'draft_posts' %>
        </div>
        <!-- "非公開一覧"のコンテンツ -->
        <div class="tab-pane fade" id="UnpublishedPost" role="tabpanel" aria-labelledby="UnpublishedPost-tab">
          <div class="col-12 text-center">
            <h3 class="m-3">下書き一覧&nbsp;（<%= @unpublished_posts.count %>件）</h3>
          </div>
            <%= render 'post_index', post_index: @unpublished_posts, paginate_name: 'unpublished_posts' %>
        </div>
      </div>
    </div>
  </div>
    <!--ここまで ログイン中のマイページの時は、ナビバーを表示する-->
    <!--ログインユーザー以外の人のshowページの時-->
  <% else %>
    <div class="row shadow-lg my-3 p-3 rounded justify-content-center" style="background-color:white">
    <div class="col-12 text-center">
      <h3 class="m-3">投稿一覧&nbsp;（<%= @posts.count %>件）</h3>
    </div>
    <%= render 'mypost', posts: @posts %>
  <% end %>
    <!--ここまでログインユーザー以外の人のshowページの時-->
</div>
