<!DOCTYPE html>
<html>
  <head>
    <title>Sumanavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4c6fe6cfc8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <div class="overflow-auto" style="width:100%; height:100%;">
        <div class="row justify-content-center my-2 p-">
        
        <% flash.each do |message_type, message| %>
          <div class="flash-message w-50 mx-auto text-center <%= message_type %>"><%= message %></div>
        <% end %>
        
        </div>

      <%= yield %>

      <!--topに戻る-->
      　<a href="#top" class="scroll-top-btn">
      　　<i class="fas fa-chevron-circle-up" data-toggle=tooltip data-placement="bottom" title="最上部へ移動"></i>
      　</a>
      　<script>
      　  $(document).ready(function() {
            // スクロールトップボタンをクリックしたときの処理
            $('.scroll-top-btn').click(function(e) {
              e.preventDefault();
              $('html, body').animate({ scrollTop: 0 }, 'slow'); // ページトップへスクロール
            });

            // ページが100ピクセルまでスクロールされたらボタンを表示
            $(window).scroll(function() {
              if ($(this).scrollTop() > 100) {
                $('.scroll-top-btn').fadeIn();
              } else {
                $('.scroll-top-btn').fadeOut();
              }
            });
          });
      　</script>
      <!--↑ここまでtopに戻る-->
    </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
